/* main.css */
body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #141414;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}

h1 {
    font-family: "Righteous", sans-serif;
    color: #00e9dc;
    font-weight: 300;
    font-size: 100px;
    line-height: 1.1;
    margin: 0;
    text-align: right; /* Align text to the left */
}

header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center everything horizontally */
    padding: 60px 20px 20px 20px; /* Extra space at the top of the page */
    background-color: #141414;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align text to the right within the column */
    justify-content: center;
    margin-right: 20px;
    margin-top: -180px; /* Add space between text and image */
}

.portrait-container {
    position: relative;
    top: -60px;
     /* Relative position so child elements can be positioned absolutely */
}

.portrait {
    width: 350px; /* Make the image larger */
    height: 350px;
    object-fit: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); /* Adding shadow to separate from the background */
    position: relative; /* Ensure it's above the square */
    z-index: 2; /* Ensure the image is on top */
    margin-top: 150px; /* Lower the image slightly */
}

/* The square behind the image */
.square-behind {
    position: absolute;
    width: 350px; /* Larger to match the new image size */
    height: 350px;
    background-color: #00dbc9; /* The color of the square */
    top: 135px; /* Offset to the top */
    right: -15px; /* Offset to the right */
    z-index: 1; /* Ensure it's behind the image */
}

.header-info-wrapper {
    position: relative;
    left: -80px; /* Move this section 200px to the left */
}

header h2 {
    font-family: "Outfit", sans-serif;
    color: white; /* Keep the color white */
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons img {
    width: 40px; /* Uniform size for both icons */
    height: 40px;
    margin: 0 15px; /* Space between the icons */
    display: inline-block;
    border-radius: 50%; /* Make the icons circular */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for both GitHub and LinkedIn icons */
.social-icons img:hover {
    box-shadow: 0 0 15px #00dbc9; /* Add a circular glow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition */
    border-radius: 50%; /* Ensure the shadow follows the circular shape */
}